.loginField {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.loginFieldText {
	font-weight: bold;
	font-size: 15px;
}
.loginFieldText::after {
	content:':';
}
#loginForm {
	text-align: left;
	width: 50%;
	display: inline-block;
}
.center {
	text-align: center;
}